@* @model WebAnhAnh.Repository.ProductsRepository


            <div class="watchs_section_2">
    <div class="row" style="background-color:#d7e3ab">

                    <div class="col-md-6">
            <div class="image_1"><img style="border-radius:200px" src="~/images/@Model.Image"></div>
                    </div>
                    <div class="col-md-6">
                        <h4 class="uni_text">@Model.ProductName</h4>
                        <p class="watchs_text">@Model.Describe</p>
                        <h4 class="rate_text"><span style="color: #b60213;">$</span>@Model.Price</h4>
                        <div class="read_bt1"><a href="#">Buy Now</a></div>
                    </div>
                </div>
            </div>

 *@



 @model WebAnhAnh.Repository.ProductsRepository

<div class="watchs_section_2">
    <div class="row" style="background-color:#d7e3ab">
        <div class="col-md-6">
            <a asp-action="DetailProduct" asp-controller="Product" asp-route-id="@Model.ProductID">
                <div class="image_1"><img style="border-radius:200px" src="~/images/@Model.Image"></div>
            </a>
        </div>
        <div class="col-md-6">    <a asp-action="DetailProduct" asp-controller="Product" asp-route-id="@Model.ProductID">
            <h4 class="uni_text">@Model.ProductName</h4> </a>
            <p class="watchs_text">@Model.Describe</p>
            <h4 class="rate_text"><span style="color: #b60213;">$</span>@Model.Price</h4>
            <div class="read_bt1">
                <a asp-action="AddToCart" asp-controller="Cart" asp-route-id="@Model.ProductID">Giỏ Hàng</a>
            </div>
        </div>
    </div>
</div>
<a style="color:gray;border:white" asp-action="AddToCart" asp-controller="Cart" asp-route-id="@Model.ProductID" class="btn border border-secondary rounded-pill px-3 ">==></a>