@* @model IEnumerable<WebAnhAnh.Models.Order> *@
@using WebAnhAnh.Models;
@using X.PagedList.Mvc.Core;
@model X.PagedList.BasePagedList<Order>
@{
    ViewData["Title"] = "Đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminn.cshtml";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h1 style="text-align: center;">DANH SÁCH ĐƠN HÀNG </h1>


@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}
<table class="table">
    <thead>
        <tr class="table-warning">
            @*  <th>
                NGÀY ĐẶT
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryDate)
            </th> *@
            <th>
                TÊN 
            </th>
            <th>
                ĐỊA CHỈ 
            </th>
            <th>
               SỐ ĐIỆN THOẠI
            </th>
            <th>
                PHƯƠNG THỨC 
            </th>
          @*   <th>
                @Html.DisplayNameFor(model => model.HowToPay)
            </th> 
            <th>
                @Html.DisplayNameFor(model => model.TransportFee)
            </th> *@
           @*  <th>
                GHI CHÚ
            </th> *@
            <th>
                TRẠNG THÁI
            </th>
          @*   <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th> *@
            <th>LÀM GÌ</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
            string @cls = "table-success";
        }
@foreach (var item in Model) {
            i = i + 1;
            cls = "table-success";
            if (i % 2 == 0)
            {
                cls = "table-primary";
            }
            <tr class="@cls">
                @*   <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
           <td>
                @Html.DisplayFor(modelItem => item.DeliveryDate)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @item.HowToPay
            </td> 
           @*  <td>
                @Html.DisplayFor(modelItem => item.TransportFee)
            </td> *@
            @* <td>
                @item.Note
            </td> *@
                @*   <td>
              @item.Customer.CustomerId
                    
            </td>   *@
             <td>
                @item.Status.StatusName
            </td>  
              <td>
                    <div  class="btn-group" role="group" aria-label="Edit and Delete">
                        <a  class="btn btn-primary" href="@Url.Action("Details", new { id = item.OrderId })">CHI TIẾT</a>
                        <form id="deleteForm-@item.OrderId" asp-action="Delete" asp-route-id="@item.OrderId" method="post">
                            <button type="button" onclick="confirmDelete('@item.OrderId')" class="btn btn-danger">XÓA</button>
                        </form>
                    </div>
                </td> 

               



        </tr>
}
    </tbody>
</table>

<script>
    function confirmDelete(orderId) {
        if (confirm('Bạn có chắc chắn muốn xóa đơn hàng này không?')) {
            document.getElementById('deleteForm-' + orderId).submit();
        }
    }
</script>


<div class="text-center">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                <a class="page-link" href="@Url.Action("Index", new { page = Model.HasPreviousPage ? Model.PageNumber - 1 : 1 })" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int ii = 1; ii <= Model.PageCount; ii++)
            {
                <li class="page-item @(ii == Model.PageNumber ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { page = ii })">@ii</a>
                </li>
            }
            <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                <a class="page-link" href="@Url.Action("Index", new { page = Model.HasNextPage ? Model.PageNumber + 1 : Model.PageCount })" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>