@* @model IEnumerable<WebAnhAnh.Repository.ProductsRepository>
@{
    ViewData["Title"] = "Products";
    Layout = "_LayoutProducts";
}




<div class="background_bg">
    <div class="about_section layout_padding">
        <div class="container">
            <h2 style="color:red" class="watchs_taital">
                @await Component.InvokeAsync("MenuCategory")
            <br> Total:   @Model.Count() Product 
            </h2>

            <div class="about_section_3">
                <div class="row">
                    @await Html.PartialAsync("ItemProducts", Model)
                </div>
            </div>

        </div>
    </div>

</div>
 *@



 @model IEnumerable<WebAnhAnh.Repository.ProductsRepository>
@{
    ViewData["Title"] = "Products";
    Layout = "_LayoutProducts";
}

<div class="background_bg">
    <div class="about_section layout_padding">
        <div class="container">
            <h4 style="color:red" class="watchs_taital">
                @await Component.InvokeAsync("MenuCategory")
                <br /> @* Tổng: @Model.Count() sản phẩm *@
            </h4>

            <div class="about_section_3">
                <div class="row">
                    @await Html.PartialAsync("ItemProducts", Model)
                </div>
            </div>
            <div class="about_section_3">
            <!-- Pagination -->
            @if (ViewBag.TotalPages > 1)
            {
                <ul class="pagination justify-content-center">
                    @for (int i = 1; i <= ViewBag.TotalPages; i++)
                    {
                        <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
                            <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                        </li>
                    }
                </ul>
            }
            </div>
            <!-- End Pagination -->
        </div>
    </div>
</div>
